// Main Sass File

$dark-overlay: rgba(0,0,0,0.7);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{

}

nav{
  //position: relative;
  background-color: #c6c6c6;
  height: 60px;
  ul{


    li{
      display: inline-block;
      padding:20px 5px;

      a{
        height: 20px;
        padding: 10px;
        background-color: #ffffff;
      }
    }
  }

}

#home-section{
  padding-top: 20px;
}

#home-section{
  //margin: 20px;

  background:url('../heros/bg1.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  //background-position: center top;
  min-height: 900px;


  .home-inner{
    color: #ecefe8;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    h1{
      font-size: 4rem;
    }
    p{
      font-size: 1.5rem;
      line-height: 30px;
      margin-bottom: 0;
    }

  }

  .dark-overlay{
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 900px;

  }

}

.bsbutton{
   border-radius: 5px;

}